/* DefCon fonts */
@font-face {
	font-family: 'Defcon';
	src: url('/fonts/demo-sbdefcon-headlinea.otf');
}

/* Fonts */
body {
	font-family: 'Defcon';
}

/* Glitch effect */
:root {
	--header_font-size: 140px;
	--random-letter_font-size: 48px;
	--loading-bar_width: 500px;
	--loading-bar_height: 28px;
	--loading-bar_border: 3px;
	--dark-mode_transition-time: .25s;
}

.containers {
	--color_primary: rgb(010, 010, 010);
	--color_secondary: rgb(245, 245, 245);
	position: relative;
	display: grid;
	place-items: center;
	grid-template-rows: 50% auto 1fr 1fr;
	height: 100vh;
	width: 100%;
	background: var(--color_primary);
	color: var(--color_secondary);
	transition-duration: var(--dark-mode_transition-time);
	overflow: hidden;
}

.containers::before {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	content: "";
	opacity: .75;
	pointer-events: none;
	z-index: 2;
	animation: container_film-grain 1s step-end infinite;
}

label {
	position: absolute;
	top: 20px;
	right: 20px;
	height: 20px;
	width: 20px;
	overflow: hidden;
	cursor: pointer;
	z-index: 1;
}

header {
	align-self: end;
	position: relative;
	font-size: var(--header_font-size);
	z-index: 1;
	animation:
		header_chromatic-aberration 5.1s step-end infinite,
		screen-glitch 8.3s step-end infinite;;
}

header::before,
header::after {
	position: absolute;
	content: attr(data-content);
}

header::before {
	left: calc(calc(var(--header_font-size) / 14) * -1);
	animation:
		header_glitch 3s step-end infinite,
		header_clip-before 10.3s linear forwards infinite;
}

header::after {
	left: calc(var(--header_font-size) / 14);
	clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
	width: fit-content;
	animation:
		header_glitch 2.7s step-end infinite,
		header_clip-after 7.7s linear forwards infinite;
}

@media only screen and (max-width: 1100px) {
	:root {
		--header_font-size: 70px;
		--random-letter_font-size: 24px;
		--loading-bar_width : 250px;
		--loading-bar_height: 14px;
		--loading-bar_border: 2px;
	}
}

@media only screen and (max-width: 570px) {
	:root {
		--header_font-size: 35px;
		--random-letter_font-size: 12px;
		--loading-bar_width : 125px;
		--loading-bar_height: 7px;
		--loading-bar_border: 1px;
	}
	.random-letters {
		margin: 15px 0 20px 0;
	}
}

@keyframes screen-glitch {
	0% {
		filter: none;
	}
	97% {
		filter: url(#screen-glitch);
	}
}

@keyframes container_film-grain {
	0%  {
		background-image: url(https://www.dropbox.com/s/7c0079mscbpj9yr/noise01.png?dl=1);
	}
	10% {
		background-image: url(https://www.dropbox.com/s/xrhn9bfmz5d10qe/noise02.png?dl=1);
	}
	20% {
		background-image: url(https://www.dropbox.com/s/my05jzarddvrkvs/noise03.png?dl=1);
	}
	30% {
		background-image: url(https://www.dropbox.com/s/4df5nkssyg19fhj/noise04.png?dl=1);
	}
	40% {
		background-image: url(https://www.dropbox.com/s/hygspg34sp2favc/noise05.png?dl=1);
	}
	50% {
		background-image: url(https://www.dropbox.com/s/5fd1sjyw8hcn8ac/noise06.png?dl=1);
	}
	60% {
		background-image: url(https://www.dropbox.com/s/09tprl6ho8809zo/noise07.png?dl=1);
	}
	70% {
		background-image: url(https://www.dropbox.com/s/tsm4az80i4q47r2/noise08.png?dl=1);
	}
	80% {
		background-image: url(https://www.dropbox.com/s/ol1eg4nlnzpz7z7/noise09.png?dl=1);
	}
	90% {
		background-image: url(https://www.dropbox.com/s/hvjoyoyvp2j9ndp/noise10.png?dl=1);
	}
}

@keyframes header_clip-before {
	from {
		clip-path: polygon(0 0, 100% 0, 100% 10%, 0 10%);
	}
	to {
		clip-path: polygon(0 0, 100% 0, 100% 90%, 0 90%);
	}
}

@keyframes header_clip-after {
	from {
		clip-path: polygon(0 10%, 100% 10%, 100% 100%, 0% 100%);
	}
	to {
		clip-path: polygon(0 90%, 100% 90%, 100% 100%, 0% 100%);
	}
}

@keyframes header_glitch {
	0% {
		opacity: 0;
	}
	97% {
		opacity: 1;
	}
}

@keyframes header_chromatic-aberration {
	0% {
		text-shadow: none;
	}
	97% {
		text-shadow:
			calc(var(--header_font-size) / 20) 0 rgb(255, 0, 0),
			calc(calc(var(--header_font-size) / 20) * -1)  0 rgb(0, 0, 255);
	}
}

@keyframes cursor_blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}