<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CTF Team</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Explore our CTF team members, their skills, and achievements. Join us for collaborative cybersecurity challenges.">
    <meta name="keywords" content="CTF, Capture The Flag, cybersecurity, team, members, achievements">
    <meta name="author" content="Your Name">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="https://ctftime.org/media/cache/31/35/3135f4d3b902ac2e32636123e6e98f2d.png">

    <!-- Open Graph Tags -->
    <meta property="og:title" content="CTF Team - Explore Our Members and Achievements">
    <meta property="og:description" content="Explore our CTF team members, their skills, and achievements. Join us for collaborative cybersecurity challenges.">
    <meta property="og:image" content="https://ctftime.org/media/cache/31/35/3135f4d3b902ac2e32636123e6e98f2d.png">
    <meta property="og:url" content="https://we1337.github.io/Web-Application-for-Tartary-Team/">

    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="CTF Team - Explore Our Members and Achievements">
    <meta name="twitter:description" content="Explore our CTF team members, their skills, and achievements. Join us for collaborative cybersecurity challenges.">
    <meta name="twitter:image" content="https://ctftime.org/media/cache/31/35/3135f4d3b902ac2e32636123e6e98f2d.png">

    <link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/nuclear/bulmaswatch.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body>
    <div>
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="../index.html">
                        <img src="https://ctftime.org/media/cache/31/35/3135f4d3b902ac2e32636123e6e98f2d.png" alt="Logo">
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHero1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenuHero1" class="navbar-menu">
                    <div class="navbar-end">
                        <a id="navevents" class="navbar-item" href="../template/ctf.html">
                            CTF-Event
                        </a>
                        <a id="navteam" class="navbar-item" href="../template/team.html">
                            CTF-Team
                        </a>
                        <a id="navwriteups" class="navbar-item" href="../template/writeups.html">
                            Write-ups
                        </a>
                        <div class="navbar-item has-dropdown is-hoverable">
                            <div id="navmore" class="navbar-link">
                                More
                            </div>
                            <div id="moreDropdown" class="navbar-dropdown">
                                <a class="navbar-item " href="../template/about.html">
                                    <div class="level is-mobile">
                                        <div class="level-left">
                                            <div class="level-item">
                                                <p>
                                                    <strong id="navabout">About</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a class="navbar-item " href="../template/contact.html">
                                    <div class="level is-mobile">
                                        <div class="level-left">
                                            <div class="level-item">
                                                <p>
                                                    <strong id="navcontact">Contact</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="navbar-item has-dropdown is-hoverable">
                            <div id="navlanguage" class="navbar-link">
                                Language
                            </div>
                            <div id="moreDropdown" class="navbar-dropdown">
                                <a class="navbar-item" href="#" onclick="loadLanguageen()">
                                    <div class="level is-mobile">
                                        <div class="level-left">
                                            <div class="level-item">
                                                <p>
                                                    <strong id="navlanguageen">English</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a class="navbar-item" href="#" onclick="loadLanguagekk()">
                                    <div class="level is-mobile">
                                        <div class="level-left">
                                            <div class="level-item">
                                                <p>
                                                    <strong id="navlanguagekk">Kazakh</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a class="navbar-item" href="#" onclick="loadLanguageru()">
                                    <div class="level is-mobile">
                                        <div class="level-left">
                                            <div class="level-item">
                                                <p>
                                                    <strong id="navlanguageru">Russian</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div> 


    <section class="container" id="table">
        <table class="table">
            <tbody id="team-body"></tbody>
        </table>
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            footer();
        });
    </script>

    <script src="../../assets/js/action.js" defer></script>
    <script src="../../assets/js/user_table.js" defer></script>
    <script src="../assets/language/language-en.js"></script>
    <script src="../assets/language/language-kz.js"></script>
    <script src="../assets/language/language-ru.js"></script>
    <script src="../assets/footer.js"></script>

</body>

</html>
